<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/restaurants/new">Add a Restaurant</a>
    <a href="/users">See All Users</a>

    <form action="/users" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" placeholder="Jon Von Don">
      <br>
      <input type="submit" value="Submit">
    </form>

  </body>
</html>
