<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/restaurants/new">Add a Restaurant</a>
    <a href="/users">See All Users</a>

    <form action="/users" method="post">
      <fieldset>
        <legend>New User:</legend>
        <label for="user_name">Name:</label>
        <input type="text" name="user[user_name]" placeholder="Jon Von Don">
        <br>
        <input type="submit" value="Submit">
      </fieldset>

    </form>

  </body>
</html>
