<form method="post" action="/restaurants/<%=@restaurant.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="restaurant_name">Name:</label>
  <input type="text" value="<%=@restaurant.name %>" name="name">
  <br>
  <input type="submit" value="submit">
</form>
