<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form method="post" action="/restaurants/<%=@restaurant.id%>">
      <input id="hidden" type="hidden" name="_method" value="patch">
      <label for="restaurant_name">Name:</label>
      <input type="text" value="<%=@restaurant.rest_name %>" name="restaurant[rest_name]">
      <br>
      <label for="restaurant_rating">Rating:</label>
      <select name="restaurant[rating]">
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
      </select>
      <br>
      <label for="restaurant_Address">Address:</label>
      <input type="text" value="<%=@restaurant.address %>" name="restaurant[address]">
      <br>

          <br>
      <input type="submit" value="submit">
    </form>
    <form action="/restaurants/<%=@restaurant.id%>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete Restaurant">
    </form>
  </body>
</html>
