<form method="post" action="/restaurants/<%=@restaurant.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label for="restaurant_name">Name:</label>
  <input type="text" value="<%=@restaurant.name %>" name="name">
  <br>
  <label for="restaurant_rating">Rating:</label>
  <input type="text" value="<%=@restaurant.rating %>" name="rating">
  <br>
  <label for="restaurant_Address">Address:</label>
  <input type="text" value="<%=@restaurant.address %>" name="address">
  <br>
  <input type="submit" value="submit">
</form>
